img.pimage {
    width: 150px;
    height: 150px;
}

img.spi {
    width: 100%;
}

img.cpi {
    width: 100px;
}

a.pa {
    display: inline-block;
    height: 160px;
}

.row .products .p {
    background-color: aqua;
    margin-top: 20px;
    margin-bottom: 20px;
}

ul.gallery li {
    display: inline-block;
    margin: 20px;
    list-style: none;
}

table.alignmiddle td {
    vertical-align: middle !important;
}

.ajaxbg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rqba(255, 255, 255, .8);
    z-index: 2;
    display: none;
}

.ajaxinner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.pp {
    position: absolute;
    left: -3000px;
}

.alert-error {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}



/* Header style */

.words {
    color: #f4d03f;
    font-size: 0;
    line-height: 1.5;
  }
  
  .words span {
    font-size: 5rem;
    display: inline-block;
    animation: move 3s ease-in-out infinite;
  }
  
  @keyframes move {
    0% {
      transform: translate(-30%, 0);
    }
    50% {
      text-shadow: 0 25px 50px rgba(0, 0, 0, 0.75);
    }
    100% {
      transform: translate(30%, 0);
    }
  }
  
  .words span:nth-child(2) {
    animation-delay: 0.5s;
  }
  
  .words span:nth-child(3) {
    animation-delay: 1s;
  }
  
  .words span:nth-child(4) {
    animation-delay: 1.5s;
  }
  
  .words span:nth-child(5) {
    animation-delay: 2s;
  }
  
  .words span:nth-child(6) {
    animation-delay: 2.5s;
  }
  
  .words span:nth-child(7) {
    animation-delay: 3s;
  }
  