<%- include('../_layouts/header') %>

<h2 class="page-title"><%= title %></h2>

<form method='post' action="/user/forgot-password">
    <div class="form-group">
        <div class="form-group">
        <b><label for="email">Email: </label></b>
        <input type="email" id="email" name="email" class="form-control" placeholder="Email" />
    </div>
    <br>
    <button type="submit" class="btn btn-primary btn-block">
        Submit
    </button>
</form>

<%- include('../_layouts/footer') %>