<%- include('../_layouts/header') %>

<h1 class="page-title">Profile</h1>
<li><a href="/user/edit-profile">Edit Profile</a></li>
<li><a href="/user/address-list">Address Book</a></li>
<li><a href="#">Talk to admin</a></li>

<%- include('../_layouts/footer') %>